.background-info{
    background-color: #fceae8;
}
.Catagories img{
    width: 100px;
}
.panda-buy-now{
    background-image: linear-gradient(to bottom, #fc6ea7 0%, #FF136F 100%);
    padding:9px 25px;
    border: none;
    border-radius: 8px;
}